body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    color: #072643;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ffffff;
    color: #072643;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e7f3ff;
}



main {
    padding: 2rem;
}

footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f1f1f1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #072643;
    color: white;
}